a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
.search-res-picture {
	width: 155px; 
	height: auto; 
	background: #fff; 
	border: 1px solid #ccc; 
	padding: 10px; 
	text-align:center;
}