.catalog-price {
	 color:red;
}
div.tvk-catalog-section {padding: 0;}

td.item-photo {
	width: 145px; 
	height: 145px; 
	text-align: center; 
	vertical-align: middle; 
	background: #fff;
	border: 1px solid #ccc;padding: 0px;
}

td.item-photo img {max-width: 145px; max-height: 145px; width: auto; height: auto;}

div.tvk-catalog-section table td {padding: 0; margin:0;}

div.tvk-catalog-section table td a {line-height:0.5;}

div.tvk-catalog-section table td a:link {color: #666; text-decoration: none;}

div.tvk-catalog-section table td a:visited {color: #666;}

div.tvk-catalog-section table td a:hover {color:#0072cb; text-decoration: underline;}

div.tvk-catalog-section table td small {color: #6699cc;}